/*"black": "#1a1a1a",*/
/*"red": "#f4005f",*/
/*"green": "#98e024",*/
/*"yellow": "#fd971f",*/
/*"purple": "#9d65ff",*/
/*"magenta": "#f4005f",*/
/*"cyan": "#58d1eb",*/
/*"white": "#c4c5b5",*/

body {
	background: #1a1a1a;
	color: #FFFFFF;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	font-weight: 200;
}

a {
	color: #58d1eb;
	font-weight: bold;
}

a:visited {
	color: #9d65ff;
}

#profile_pic {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	object-fit: cover;
	object-position: 0% 100%;
	border: 8px solid #9d65ff;
	user-select: none;
}

#main_title {
	font-size: 65px;
	user-select: none;
	font-weight: 200;
	margin-bottom: 0.1em;
	letter-spacing: 0.3em;
}

.montserrat-font {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: light;
	font-style: normal;
}

.subtitle {
	font-size: 35px;
	user-select: none;
	font-weight: 600;
	margin-bottom: 0.3em;
	margin-top: 0.1em;
}

.blurb {
	margin-left: 0.5em;
	padding-left: 0.5em;
	border-left: 2px solid white;
	min-width: 400px;
	width: 60vw;
}

.section-header {
	font-weight: 200;
	letter-spacing: 0.3em;
	font-size: 32px;
}